<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ISO Knoten</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="padding-top: 10rem;">
    <div class="col-3"></div>
    <div class="col-3">
      <div class="card bg-primary text-white text-center">
        <div class="card-body">
          <i class="bi bi-file-earmark-plus text-white" style="font-size: 10rem;"></i>
          <h1>Create New Project</h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-center bg-primary text-white">
        <div class="card-body">
          <i class="bi bi-folder text-white" style="font-size: 10rem;"></i>
          <h1>Open existing project</h1>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>