<div class="pt-3" [ngClass]="{'container': !isHelpSidebarVisible, 'container-fluid': isHelpSidebarVisible}">
    <div class="row">
        <div class="col-3 bg-primary text-white text-center" *ngIf="isHelpSidebarVisible">
            <h1>Platzhalter</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed
                diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum
                dolor sit amet.

                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                dolore eu
                feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril
                delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea
                commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat, vel
                illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer
                possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                dolore eu
                feugiat nulla facilisis.

                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo
                eirmod eos
                erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.
                sanctus
                sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur</p>
        </div>
        <div [ngClass]="{'col-12': !isHelpSidebarVisible, 'col-9': isHelpSidebarVisible}">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">Absender</th>
                            <th scope="col">Betreff</th>
                            <th scope="col">Öffnen</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>26.7.2021 08:39</td>
                            <td>s.sender (sandy.senders@company.org)</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                            <td class="text-center">
                                <button class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
