<div class="container pt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-lightning" style="font-size: 5rem;"></i></h1>
                    <h3>1 / 250</h3>
                    <h3>Gefährdungen</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-list-task" style="font-size: 5rem;"></i></h1>
                    <h3>3</h3>
                    <h3>Offene Aufgaben</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-lightbulb" style="font-size: 5rem;"></i></h1>
                    <h3>5</h3>
                    <h3>Offene Erklärungen</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-emoji-neutral" style="font-size: 5rem;"></i></h1>
                    <h3>5 %</h3>
                    <h3>Zertifizierungsreife</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-gift" style="font-size: 5rem;"></i></h1>
                    <h3>11</h3>
                    <h3>Assets</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"><i class="bi bi-journal-text" style="font-size: 5rem;"></i></h1>
                    <h3>9</h3>
                    <h3>Dokumente</h3>
                </div>
            </div>
        </div>
    </div>
</div>
